body{
    font-family: 'Open Sans'
}
h1, h1, h3, h4 {
    font-family: 'Arvo'
}
#logo{
    position: fixed;
    width: 80px;
    z-index: 100;
    background: white;
    padding: 7px 12px;
    right: 0;
    transition: 0.5s;
}
#logo.top{
    width: 200px;
    padding: 10px 20px;
}
#map{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}
#map-next{
    background: white;
    padding: 16px 20px;
    position: absolute;
    bottom: 66px;   
    right: 50vw;
    margin-right: -30px;
    cursor: pointer;
}
.mapboxgl-ctrl-top-right{
    top:118px;
}
#fp-nav{
    top:140px;
}
.fp-slidesNav {
    text-align: center;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}
.fp-controlArrow{
    padding: 20px;
    background-color: #fff;
    background-image: url(./assets/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.fp-controlArrow:hover{
    background-size: 15px;
}
.fp-controlArrow.fp-prev {
    transform: rotate(180deg);
    border-width: 15px;
    left: 0px;
}
.fp-controlArrow.fp-next {
    border-width: 15px;
    right: 0px;
}
.img-bkg{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.slide{
    background: #595959;
}
.caption{
    bottom: 0;
    /*min-width: 200px;*/
    margin: 66px 0;
    /*padding: 12px 40px;*/
    position: absolute;
}
.caption-content{
    background: rgba(255, 255, 255, 1);
    overflow-y: auto;
    max-height: 33vh;
    min-height: 21px;
    max-width: 33vw;
    padding: 0px 16px 0px 50px;
}
.caption-toggle{ 
    cursor: pointer;
    padding: 19px 14px;
    background: white;
    position: absolute;
    bottom: 0;
    z-index: 1000;
} 
#logo-bird{
    height: 2em;  
}
.video-bkg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

